In [14]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [16]:
#Can open cvs files as a dataframe
dframe = pd.read_csv('lec25.csv')
#Show 
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  3  2  3  7     dog

In [ ]:
dframe = pd.read_table('lec25.csv',sep=',')
#show
dframe

In [17]:
#If you want the header to be first row
#dframe = pd.read_csv('lec25.csv',header=None)
dframe = pd.read_csv('lec25.csv',header=None)

dframe

ParserError: Error tokenizing data. C error: Expected 5 fields in line 2, saw 6

In [22]:
# We can also indicate a particular number of rows to be read
pd.read_csv('lec25.csv',nrows=2)

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit

In [23]:
# Let's see dframe again
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  3  2  3  7     dog

In [24]:
# Now let's see how we can write DataFrames out to text files
dframe.to_csv('mytextdata_out.csv')

#You'll see this file where you're ipython Notebooks are saved (Usually under my documents)

In [31]:
#  We can also use other delimiters

#we'll import sys to see the output
import sys 

#Use sys.stdout to see the output directly and not save it
dframe.to_csv(sys.stdout,sep='_')

_q_r_s_t_apple
0_2_3_4_5_pear
1_a_s_d_f_rabbit
2_3_2_3_7_dog

In [29]:
# Just to make sure we understand the delimiter
dframe.to_csv(sys.stdout,sep='?')

?q?r?s?t?apple
0?2?3?4?5?pear
1?a?s?d?f?rabbit
2?3?2?3?7?dog

In [37]:
#We can also choose to write only a specific subset of columns

dframe.to_csv(sys.stdout,columns==[0,1,2])

NameError: name 'columns' is not defined

In [43]:

#You should also check out pythons built-in csv reader and writer for more info:
import webbrowser
webbrowser.open('https://docs.python.org/2/library/csv.html')

True

In [39]:
#Next we'll learn about reading JSON data!