In [1]:
#Now we'll learn aboat reindexing

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [11]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [12]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
#Can use a forward fill for interploating values between indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
#Reindexing rows, columns or both

#Lets make a datafram with some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -0.646613  0.313446  0.010968  0.174260  0.196985
B -0.044387  1.329209 -0.016851 -1.962401 -1.812404
D  0.730262  1.550400  0.572184  0.989374  0.124253
E  0.604997 -0.578169 -0.973483 -0.524741 -0.575485
F -0.348011  1.592428 -0.854151 -0.165037 -1.237073

In [16]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [18]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.646613  0.313446  0.010968  0.174260  0.196985   NaN
B -0.044387  1.329209 -0.016851 -1.962401 -1.812404   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.730262  1.550400  0.572184  0.989374  0.124253   NaN
E  0.604997 -0.578169 -0.973483 -0.524741 -0.575485   NaN
F -0.348011  1.592428 -0.854151 -0.165037 -1.237073   NaN

In [19]:
#Show original
dframe

       col1      col2      col3      col4      col5
A -0.646613  0.313446  0.010968  0.174260  0.196985
B -0.044387  1.329209 -0.016851 -1.962401 -1.812404
D  0.730262  1.550400  0.572184  0.989374  0.124253
E  0.604997 -0.578169 -0.973483 -0.524741 -0.575485
F -0.348011  1.592428 -0.854151 -0.165037 -1.237073

In [23]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -0.646613  0.313446  0.010968  0.174260  0.196985   NaN
B -0.044387  1.329209 -0.016851 -1.962401 -1.812404   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.730262  1.550400  0.572184  0.989374  0.124253   NaN
E  0.604997 -0.578169 -0.973483 -0.524741 -0.575485   NaN
F -0.348011  1.592428 -0.854151 -0.165037 -1.237073   NaN