In [2]:
#Now we'll learn how to work with excel files
#IMPORTANT NOTE: NEED TO HAVE xlrd AND openpyxl INSTALLED!!!

In [3]:
import pandas as pd

In [5]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

In [18]:
# Parse the first sheet of the excel file and set as DataFrame
dframe = pd.read_excel('Lec_28_test.xlsx', 'Sheet1')

In [16]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365